body {
  background: rgb(250, 200, 0);
  color: black;
  margin: 5%;
}
li{
  font-size: 1.15em;
  margin-bottom: 10px;
}

#results-text {
   display: none;
  font-size: 1.4em;
 }

 #quip-text {
   display: block;
   font-size: 1.25em;
 }
